<div class="container-fluid">
  

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">Angular Router</a>
        <ul class="nav navbar-nav" >
            <li class="nav-item"><a class="nav-link" >Home</a></li>
            <li class="nav-item"><a class="nav-link" >About</a></li>
            <li class="nav-item"><a class="nav-link" >Courses</a></li>
        </ul>
    </div>
</nav>

<!--<router-outlet></router-outlet> -->
<div class="row full-width-row">
<me-main-window></me-main-window>
</div>
</div>